* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


:root {
    --cor-bg: #EBECF0;
    --color-shadow: #BABECC;
    --branco: #FFF;
}

body {
    background-color: var(--cor-bg);
}

body,
p,
input,
select,
textarea,
button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

h1,
a {
    color: var(--color-shadow);
    text-shadow: 1px 1px 1px var(--branco);
}

main {
    display: flex;
    justify-content: center;

}

.contato {
    display: flex;
    justify-content: center;
}

.rede-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 15vh 3vh 15vh;

}

a {
    font-size: 1.8rem;
    box-shadow: -5px -5px 20px var(--branco), 5px 5px 20px var(--color-shadow);
    padding: 15%;
    text-align: center;
    line-height: 0;
    color: var(--color-shadow);
    border-radius: 25px;
    text-shadow: 2px 2px 2px var(--branco);
    background-color: var(--cor-bg);
}

label {
    display: flex;
    justify-content: flex-start;
}

input,
textarea {
    width: 100%;
    margin: 5%;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 20px;
    padding: 16px;
    background-color: var(--cor-bg);
    text-shadow: 1px 1px 0 var(--branco);
    box-shadow: inset 3px 4px 2px var(--color-shadow), inset -2px -2px 2px var(--branco);

}

:focus {
    box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--branco);
}

.container-bttn {
    display: flex;
    justify-content: center;

}

button {
    margin: 4px;
    font-weight: 700;
    border: 0;
    padding: 4%;
    text-align: center;
    line-height: 0;
    color: var(--color-shadow);
    text-shadow: 3px 3px 2px var(--branco);
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: -5px -5px 20px var(--branco), 5px 5px 20px var(--color-shadow);
    background-color: var(--cor-bg);
    padding: 6%;
    border-radius: 25px;
}

button:hover,
a:hover {
    box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--branco);
}

#voltar {
    margin-left: -50%;
}

#voltar button {
    padding: 20px;
    font-size: 17px;
}

textarea {
    height: 110px;
    resize: none;
    width: 400px;
}

.form {
    padding: 40px;
}